body {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.6;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-save-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
}

.modal-btn-close {
  color: #cccccc;
  float: right;
  font-size: 30px;
  border-radius: 4px;
}

.modal-btn-close:hover {
  background-color: #F5F5F5;
  color: #999999;
  cursor: pointer;
}
